[submodule "3rd_party/PHP/vendor/graham-campbell/result-type"]
	path = 3rd_party/PHP/vendor/graham-campbell/result-type
	url = https://github.com/GrahamCampbell/Result-Type
[submodule "3rd_party/PHP/vendor/phpmailer/phpmailer"]
	path = 3rd_party/PHP/vendor/phpmailer/phpmailer
	url = https://github.com/PHPMailer/PHPMailer
[submodule "3rd_party/PHP/vendor/phpoption/phpoption"]
	path = 3rd_party/PHP/vendor/phpoption/phpoption
	url = https://github.com/schmittjoh/php-option
[submodule "3rd_party/PHP/vendor/vlucas/phpdotenv"]
	path = 3rd_party/PHP/vendor/vlucas/phpdotenv
	url = https://github.com/vlucas/phpdotenv
[submodule "3rd_party/PHP/vendor/symfony/polyfill-ctype"]
	path = 3rd_party/PHP/vendor/symfony/polyfill-ctype
	url = https://github.com/symfony/polyfill-ctype
[submodule "3rd_party/PHP/vendor/symfony/polyfill-mbstring"]
	path = 3rd_party/PHP/vendor/symfony/polyfill-mbstring
	url = https://github.com/symfony/polyfill-mbstring
[submodule "3rd_party/PHP/vendor/symfony/polyfill-php80"]
	path = 3rd_party/PHP/vendor/symfony/polyfill-php80
	url = https://github.com/symfony/polyfill-php80
