{% extends "base.html" %}

{% block content %}

<h1 class="form-title">Bem-vindo ao FlowStock!</h1>
<form action="POST" class="form-login" id="form-container-login">
	
	<input type="text" name="" id="text-input" placeholder="Digite seu e-mail">
	<input type="password" name="" id="text-input" placeholder="Digite sua senha">

	<input type="submit" id="button-submit" value="ENTRAR">
	<button id="button-forgotpass">Esqueci minha senha</button>
	<input type="button" id="button-go-register" value="CADASTRAR">
	
</form>

{% endblock content %}