{% extends "base.html" %}

{% block content %}

<form class="form-register" style="display: none;" id="form-container-register">
	<h1 class="form-title">Junte-se a nós!</h1>
	<div class="form-login">
		
		<!-- <input class="text-input" type="text" placeholder="Digite seu e-mail">
		<input class="text-input" type="password" placeholder="Digite sua senha">
		<input class="text-input" type="password" placeholder="Confirme sua senha">
		
		<a class="button-input" id="button-login" href="HTML/home.html">ENTRAR</a>
		<a id="button-forgotpass">Esqueci minha senha</a>
		<input class="button-input" id="button-go-register" type="button" value="CADASTRAR"> -->

	</div>
</form>

{% endblock content %}