@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-backgorund: rgb(240, 240, 240);
    --color-content: white;
    --color-banner-shadow: rgba(167, 167, 167, 0.279);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

html {

    height: 100%;
    width: 100%;

}

body {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: var(--color-backgorund);
}

.content {

    display: flex;
    justify-content: center;
    align-items: stretch;

    border-radius: 15px;
    background-color: var(--color-content);

}

.banner-logo {

    max-width: 100%;

    border-radius: 15px;
    box-shadow: 8px 0 20px var(--color-banner-shadow);

}

.form {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    margin: 2rem 6rem 0rem 6rem;

    background-color: white;

}

.form h1 {
    margin-top: 1rem;
}

.text-inputs {

    width: 80%;
    height: 1.5rem;

    margin: 2.5rem 2rem 0rem 2rem;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;

    border: none;
    border-bottom: 2px solid black;

}

.text-inputs:focus {
    outline: none;
}

.text-inputs::placeholder {
    color: black;
}

.button-inputs {

    width: 80%;
    height: 3rem;

    margin: 0rem 2rem 0rem 2rem;

    border: 0;
    font-weight: bold;
    border-radius: 5px;

    transition: background-color 0.3s, border-color 0.3s;

}

#login-submit {

    margin-top: 3rem;
    
    color: white;
    background-color: black;

}

#login-submit:hover {

    cursor: pointer;
    background-color: #282828;

}

#login-forgotpassword {

    margin-top: 1rem;

    font-size: 0.9rem;
    text-decoration: underline;
    color: #464646;

}

#login-forgotpassword:hover {
    cursor: pointer;
}

#login-register {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 1rem;

    border: solid black 2px;
    
    text-decoration: none;
    color: #1E1E1E;
    background-color: white;

}

#login-register:hover {
    
    cursor: pointer;
    color: #404040;
    border-color: #404040;

}

@media (max-width: 1200px) {
    
    .banner-logo {
        max-width: 50%;
    }

    .form {
        margin: 2rem 2rem 0rem 2rem;
    }

}

@media (max-width: 1080px) {
    
    .banner-logo {
        max-width: 90%;
    }

    .content {
        flex-wrap: wrap;
    }

}

@media (max-width: 940px) {
    
    body {
        background-color: white;
    }

    .banner-logo {
        box-shadow: 0px 8px 20px rgba(167, 167, 167, 0.279);
    }

    .content {
        width: 100%;
    }


}

@media (max-width: 600px) {
    
    .banner-logo {
        max-width: 80%;
    }

    .content {
        padding-top: 2rem;
    }
    
}